################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AoC2022/obj
/AoC2022_Test/obj
/AoC2022_Test/bin/Debug/netcoreapp3.1
